{% extends 'base.html.twig' %}

{% block title %}Email non vérifié{% endblock %}

{% block body %}
    <div class="container">
        <h1>Email non vérifié</h1>
        <p>Votre adresse e-mail n'a pas encore été vérifiée. Veuillez vérifier votre boîte de réception pour confirmer votre adresse e-mail.</p>
    </div>
{% endblock %}
