{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<div class="container">
    <h1>A propos</h1>
    <h2> Gagne Tes Places</h2>
    <p class="lead">Bienvenue sur Gagne Tes Places, le site qui vous permet de gagner des places de l'OM en loge</p>
</div>



{% endblock %}
