{% extends 'base.html.twig' %}

{% block title %}Gagne Tes Places{% endblock %}

{% block body %}
<div class="container">
    <h1>Gagne Tes Places</h1>
    <p class="lead">Bienvenue sur Gagne Tes Places, le site qui vous permet de gagner des places de l'OM en loge</p>
    <img src="images/velodrome2.jpg" class="img-fluid" alt="tifo Orange Vélodrome">
</div>



{% endblock %}
