html {
    overflow-y: scroll;
}

.header-logo__title {
    color: #2e7fe9;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0.8em 0 0.3em;
    text-transform: uppercase;
}

.h-md-300 {
    height: 300px;
}

.movie__poster {
    background-position: center;
    background-size: cover;
}

.movie__poster img {
    width: 100%;
    /* height: 300px;
    object-fit: cover;
    object-position: top; */
}

.movie__favorite {
    position: absolute;
    top: 0;
    right: 0;
}

.connexion {
    background-color: #2e7fe9;
    border-color: black;
}

.connexion:hover {
    background-color: #093b7e;
    border-color: black;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.lead {
    font-size: 1.5rem;
    text-align: center;
}

#confetti-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('/images/confetti.gif') no-repeat center center;
    background-size: cover;
    z-index: -1;
    pointer-events: none;
}

#winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px; /* Ajout de padding pour un encart confortable */
    background-color: #0099d5; /* Fond de couleur claire */
    border-radius: 10px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Légère ombre pour donner de la profondeur */
    margin: 0 auto; /* Centrer horizontalement */
    transform: scale(0.9); /* Taille initiale légèrement réduite */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index: 10000;
}

#winner-container .winner-header {
    font-size: 22px;
    font-weight: bold;
    color: #343a40; /* Couleur du texte pour l'en-tête */
    margin-bottom: 10px;
}

#winner-container .winner-content {
    font-size: 18px;
    color: #495057; /* Couleur du texte pour le contenu */
    text-align: center;
}

.animate-winner {
    opacity: 1;
    transform: scale(1);
}

.ticket-card {
    background-color: #f8f9fa;
    border: 2px dashed #007bff;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.ticket-card-header {
    border-bottom: 2px dashed #007bff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.ticket-img-top {
    width: 10%;
    height: auto;
    border-radius: 10px;
}

.ticket-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #007bff;
}

.ticket-text {
    margin-bottom: 1rem;
}

.ticket-info {
    font-size: 0.9rem;
    color: #6c757d;
}

.ticket-card-footer {
    border-top: 2px dashed #007bff;
    padding-top: 10px;
    margin-top: 15px;
}

.ticket-card:before, 
.ticket-card:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #f8f9fa;
    border: 2px dashed #007bff;
    border-radius: 50%;
    z-index: 10;
}

.ticket-card:before {
    top: -10px;
    left: -10px;
}

.ticket-card:after {
    bottom: -10px;
    right: -10px;
}

body {
    background-image: url('/images/velodrome2.jpg');
    background-size: cover; /* S'assure que l'image couvre tout l'écran */
    background-position: center; /* Centre l'image */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
    color: #fff; /* Garde le texte lisible */
    font-family: 'Arial', sans-serif;
    position: relative; /* Nécessaire pour l'overlay */
    margin: 0;
    padding: 0;
}

/* Ajout du calque (overlay) */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Calque noir semi-transparent à 50% d'opacité */
    z-index: 1; /* Assure que le calque soit au-dessus de l'image */
}

/* Texte au-dessus de l'overlay */
body * {
    position: relative;
    z-index: 2; /* Assure que le texte soit au-dessus du calque */
}

.promo-section {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ajout d'une ombre */
}

.promo-section h2, .promo-section p {
    color: #fff; /* Applique le texte en blanc uniquement pour les h2 et p de la promo-section */
}

h2, h3, p {
    color: #333; /* Le texte est en gris pour contraster avec le fond */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

h2 {
    line-height: 1.4; /* Augmente légèrement l'espacement vertical des titres */
}

p {
    line-height: 1.6; /* Augmente légèrement l'espacement vertical des paragraphes */
}


.promo-section .highlight-text {
    border: 2px solid #f39c12;
    padding: 10px;
    background-color: #FF5722;
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-size: 1.2em;
}

.btn-participate {
    display: inline-block;
    padding: 10px 20px; /* Taille plus compacte */
    background-color: #0072ce; /* Bleu OM */
    color: white;
    font-size: 16px; /* Taille de texte réduite */
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px; /* Légèrement arrondi */
    text-align: center;
    text-decoration: none; /* Pas de soulignement */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); /* Effet d'ombre subtil */
    transition: all 0.3s ease;
}

.btn-participate:hover {
    background-color: #005bb5; /* Bleu légèrement plus foncé au survol */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Effet d'ombre plus intense au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
}

.btn-participate:active {
    background-color: #004a99; /* Encore plus foncé au clic */
    transform: translateY(0); /* Revenir à la position initiale lors du clic */
}

.about-section {
    color: #fff; /* Texte en blanc */
}

.about-section p {
    color: #fff; /* Paragraphe en blanc */
}

.about-section h2 {
    color: #fff; /* Titre en blanc */
}

.footer-section {
    background: rgba(255, 255, 255, 0.8); /* Fond blanc avec une légère transparence */
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus légère pour un effet plus doux */
    color: #333; /* Texte en gris foncé pour plus de lisibilité sur fond clair */
}

.backoffice {
   background: white;
}
