{% extends 'base.html.twig' %}

{% block title %}Edit Purchase{% endblock %}

{% block body %}
    <h1>Edit Purchase</h1>

    {{ include('backoffice/purchase/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_purchase_index') }}">back to list</a>

    {{ include('backoffice/purchase/_delete_form.html.twig') }}
{% endblock %}
