{% extends 'base.html.twig' %}

{% block title %}New Purchase{% endblock %}

{% block body %}
    <h1>Create new Purchase</h1>

    {{ include('backoffice/purchase/_form.html.twig') }}

    <a href="{{ path('app_backoffice_purchase_index') }}">back to list</a>
{% endblock %}
