{# templates/emails/verification.html.twig #}

<h1>Bonjour,</h1>
<p>
    Merci de vous être inscrit sur notre site web. Pour vérifier votre adresse e-mail, veuillez cliquer sur le lien suivant :
</p>
<p>
    <a href="{{ verification_link }}">Vérifier mon adresse e-mail</a>
</p>
